.login2{
    background:rgb(249, 249, 249) url(./assets/9891986_4287509.svg) ;
    background-attachment: fixed;
    background-size:  60%;
    background-repeat: no-repeat;
    background-position: 5% 50%;
}