@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
.login2 {
    background: url("./assets/login-fluxo-positivo.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 5% 50%;
    padding: 8px;
}

#login {
    max-width: 500px;
    h1 {
        color: #d54d7b; font-family: "Rouge Script", cursive; font-weight: normal; margin-bottom: 0px; text-align: center; text-shadow: 0 1px 1px #fff; 
        font-size: 120px;
        line-height: 90px;
        @media (max-width: 800px) {
            font-size: 60px;
            line-height: 60px;
        }
    }
    margin: auto;
}