.card {
  h2 {
    font-weight: 600;
  }
  max-width: 380px;
  min-height: 300px;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 15px 15px 15px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  &:hover {
    border: 1px solid rgba(255, 0, 0, 0.1);
  }
  .icon {
    border-radius: 0.625rem;
    width: 60px;
    height: 60px;
  }
  .icon_0 {
    background: #f8f5ff;
  }
  .icon_1 {
    background: #e8fff3;
  }
  .icon_2 {
    background: #fff5f8;
  }
  .icon_3 {
    background: #fff8dd;
  }
  .icon_4 {
    background: #f1faff;
  }
  .icon_color_0 {
    color: theme("colors.purple.500");
  }
  .icon_color_1 {
    color: theme("colors.green.500");
  }
  .icon_color_2 {
    color: theme("colors.red.500");
  }
  .icon_color_3 {
    color: theme("colors.yellow.500");
  }
  .icon_color_4 {
    color: theme("colors.blue.500");
  }
  .description {
    color: #78829d;
  }
  @media (max-width: 800px) {
    margin-right: 0px;
  }
}
